:root {
  --white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
  --cyan: hsl(179, 62%, 43%);
  --lt-cyan: hsl(179, 62%, 47%);
  --dk-cyan: hsl(179, 60%, 32%);
  --br-yellow: hsl(71, 73%, 54%);
  --gray: hsl(210, 2%, 82%);
  --lt-gray: hsl(204, 43%, 93%);
  --dk-gray: hsl(204, 43%, 80%);
  --grayish-blue: hsl(218, 22%, 67%);
}