@use '../util' as *;

.card {
  border-radius: rem(8);
  overflow: hidden;
  box-shadow: 0 rem(10) rem(20) var(--dk-gray);

  &-community {
    padding: rem(35) rem(25);
    background-color: var(--white);

    @include breakpoint(medium) {
      padding: rem(45) rem(40);
    }
  }

  &-subscription {
    padding: rem(28) rem(25);
    background-color: var(--cyan);

    @include breakpoint(medium) {
      padding: rem(45) rem(40);
    }
  }

  &-us {
    padding: rem(28) rem(25);
    background-color: var(--lt-cyan);

    @include breakpoint(medium) {
      padding: rem(45) rem(40);
    }
  }
  
  &__header {
    font-weight: 700;

    &--cyan {
      color: var(--cyan);
      font-size: rem(20);
      margin-bottom: rem(20);

      @include breakpoint(medium) {
        font-size: rem(23);
      }
    }

    &--white {
      color: var(--white);
      font-size: rem(19);
      margin-bottom: rem(20);
    }
  }

  &__subheader {
    font-weight: 700;

    &--day {
      color: var(--br-yellow);
      margin-bottom: rem(10);
      line-height: 1.5;

      @include breakpoint(medium) {
        font-size: rem(18);
      }
    }

    &--price {
      margin: 0;
      margin-bottom: rem(10);
      display: inline-flex;
      align-items: center;
      gap: rem(10);
      color: var(--white);
      font-size: rem(28);

      span {
        opacity: .5;
        font-size: 1rem;
        font-weight: 400;
      }
    }

  }

  &__content {
    margin: 0;
    font-size: rem(14);

    &--gray {
      color: var(--grayish-blue);
      line-height: 1.8;

      @include breakpoint(medium) {
        font-size: rem(16);
      }
    }

    &--white {
      font-weight: 400;
      margin-bottom: rem(34);
    }
  }

  &__signup {
    display: block;
    border-radius: rem(5);
    box-shadow: 0 rem(5) rem(10) var(--dk-cyan);
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--br-yellow);
    font-weight: 700;
    padding: rem(15);
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: .8;
    }
  }

  &__link {
    padding: 0;
    list-style-type: none;
    margin: 0;

    li {
      font-size: rem(14);
      line-height: 1.5;
      
      a {
        font-weight: 400;
        color: var(--lt-gray);
        transition: color 300ms ease-in-out;

        &:hover {
          color: var(--br-yellow);
        }
      }
    }
  }
}